* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.App {
  background-color: rgb(23 23 23);
  min-height: 100vh;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.normal {
  padding: 31px 90px;
}

.searchNav {
  padding: 30px;
}

.logo {
  color: #fff;
}

.btn {
  border: none;
  outline: none;
  color: #000000;
  /* padding: 12px 20px; */
  border-radius: 0.75rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btnBack,
.btnDownload {
  padding: 12px 20px;
  background-color: rgb(255, 255, 255);
}

.btnDownload {
  display: flex;
  gap: 5px;
}
.btnBack:hover,
.btnDownload:hover {
  background-color: rgb(93 138 237);
}

.retryBtn {
  padding: 12px 20px;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.message h1 {
  font-size: 52px;
  text-transform: uppercase;
  margin: 10px 0;
}

.message h2 {
  font-size: 16px;
  color: rgb(186 186 186);
}

input {
  height: 55px;
  padding: 15px;
  font-size: 16px;
  color: rgb(201 215 245);
  background-color: rgb(32 36 44);
  border: 2px solid transparent;
  width: 42vw;
  border-radius: 0.75rem;
}

@keyframes borderColor {
  0% {
    border-color: #edf1fb;
  }

  50% {
    border-color: #1c60f6;
  }
}

.animate-borderColor {
  animation: borderColor 3s cubic-bezier(0.4, 0, 0.6, 1) infinite alternate;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

img {
  height: 512px;
  width: 512px;
  border-radius: 0.75rem;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message img {
  width: 100px;
  height: 100px;
}

.loader {
  margin: 250px;
}
